# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
warnings_are_errors: true

os:
  - linux
  - osx

r:
  - 3.6.1

r_packages:
  - covr

after_success:
    - Rscript -e 'covr::codecov(type = "all")'
    - Rscript -e 'library(covr); codecov()'